@model BtxCMS.DTO.AdminUserDTO
@{
    ViewBag.Title = Resources.VIVI_HY_ADMIN.Title;
    Layout = "~/Areas/VIVI_HY_ADMIN/Views/Layout/_Layout_Base.cshtml";
}
@section Head{
    @Html.Partial("~/Areas/VIVI_HY_ADMIN/Views/Layout/_Layout_Head_Edit.cshtml");
}
<body class="easyui-layout" style="overflow-y: hidden" scroll="no" fit="true">
    <div region="center" border="true" style="overflow-y: hidden;">
        @using (Html.BeginRouteForm("Admin_MapRoute_Module", new { action = "PassWord", @MvcTemplate = ViewData["MvcTemplate"] }, FormMethod.Post, new { ID = "EditForm", name = "EditForm", fit = "true", style = "width:100%;height:100%;" }))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.UserName)
            @Html.HiddenFor(m => m.PassWord)
            @Html.HiddenFor(m => m.MarkName)
            
            <div class="easyui-tabs" border="false" fit="true">
                <div title="基本属性" style="padding: 10px;">
                    <table class="table">
                        <tr>
                            <td class="tdright" style="width: 100px;">
                                权限级别：
                            </td>
                            <td>
                                <span style="color:@(Model.GroupModel.Color)">@Model.GroupModel.Title</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdright">
                                用 户 名：
                            </td>
                            <td>
                                @Model.UserName
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-indent: 3em;">
                                --------------------------------------------------------------------
                            </td>
                        </tr>
                        <tr>
                            <td class="tdright">
                                旧 密 码：
                            </td>
                            <td>
                                @Html.PasswordFor(m => m.PassWordOld, new { @Class = "easyui-validatebox InputOff w300 " })
                                【注释：不修改密码请放空】
                            </td>
                        </tr>
                        <tr>
                            <td class="tdright">
                                新密码：
                            </td>
                            <td>
                                @Html.PasswordFor(m => m.PassWordNew, new { @Class = "easyui-validatebox InputOff w300 " })
                            </td>
                        </tr>
                        <tr>
                            <td class="tdright">
                                重复密码：
                            </td>
                            <td>
                                @Html.PasswordFor(m => m.PassWordRepeat, new { @Class = "easyui-validatebox InputOff w300 ", validType = "equalTo[PassWordNew]" })
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-indent: 3em;">
                                --------------------------------------------------------------------
                            </td>
                        </tr>
                        <tr>
                            <td class="tdright">
                                创建时间：
                            </td>
                            <td>
                                @Model.CreateTime
                            </td>
                        </tr>
                        <tr>
                            <td class="tdright">
                                登入次数：
                            </td>
                            <td>
                                @Model.LoginNum
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-indent: 3em;">
                                --------------------------------------------------------------------
                            </td>
                        </tr>
                        <tr>
                            <td class="tdright">
                                最后更新时间：
                            </td>
                            <td>
                                @Model.UpdateTime
                            </td>
                        </tr>
                        <tr>
                            <td class="tdright">
                                最后登入IP：
                            </td>
                            <td>
                                @Model.LoginIP
                            </td>
                        </tr>
                        <tr>
                            <td class="tdright">
                                最后登入时间：
                            </td>
                            <td>
                                @Model.LoginTime
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-indent: 3em;">
                                --------------------------------------------------------------------
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
    <div region="south" border="false" style="text-align: center; padding: 5px 0;">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="return submit();">
            修改</a> <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload"
                onclick="document.EditForm.reset();">重置</a>
    </div>
</body>
