@using JieYiGuang.Model
@using System.Linq
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "福州致辉光电科技有限公司（Devotop Photonics,Inc.）";
    ViewBag.KeyWord = "Devotop,致辉,光电,光学,镜片,透镜,柱面镜,偏振,lens,cylindrical,激光,镜头,成像,波片,晶体";
    ViewBag.Description = "致辉光电用最大的热情提供优质的光学产品和专业的技术服务。我们的产品包括平面光学，球面和柱面光学，晶体，偏振光学，以及光学装配件。广泛运用于激光行业，工业自动化，高端仪器，科研军工，成像和机器视觉等行业。";

}
@section Head{
}
@model T_News


<div class="contant">
    <div class="top"> </div>
    <!--star banner-->
    @Html.Partial("~/Views/Shared/_Partial_Banner.cshtml")
    <!--end banner-->
    <div class="pubanner">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" height="160" width="961">
            <param name="movie" value="flash/banner4.swf">
            <param name="quality" value="high">
            <embed src="@Url.ThemeContent("~/Content/themes/" + ThemeManager.Style + "/images/banner4.swf")" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" height="160" width="961">
        </object>
    </div>
    <div class="mian_warp">
        <div class="pucont">
            <div class="puconttitle"><span class="left logo"><a href="/"></a></span> </div>
            <div class="both"> </div>
            <div class="pucontcont">
                @Html.Partial("~/Views/Shared/_Partial_Left.cshtml", "Quality")
                <div class="right w725">
                    <div class="left w543">
                        <div class="puzcont">
                            <div class="puzcontwz"> <span class="left"><a href="/">首页</a> &gt; <a href="@(Url.Action("Quality", "Home"))">质量控制</a> &gt; <span>质量控制</span></span> </div>
                            <div class="main" style="padding-top: 20px;">
                                @(Html.Raw(Model.Contents))
                                <p><span style="font-size: larger">&nbsp;</span></p>
                                <div class="both2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="both"> </div>
            </div>
            <div class="both"> </div>
        </div>
    </div>
</div>

@section Footer{
<script type="text/javascript">

<!--
function initArray(){for(i=0;i<initArray.arguments.length;i++)
this[i]=initArray.arguments[i];}var isnMonths=new initArray("1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月");var isnDays=new initArray("星期日","星期一","星期二","星期三","星期四","星期五","星期六","星期日");today=new Date();hrs=today.getHours();min=today.getMinutes();sec=today.getSeconds();clckh=""+((hrs>12)?hrs-12:hrs);
clckm=((min<10)?"0":"")+min;clcks=((sec<10)?"0":"")+sec;clck=(hrs>=12)?"下午":"上午";var stnr="";var ns="0123456789";var a="";
//--> 

</script>
}
